<div class="col top-section">
  <div class="row">
    <a routerLink="/" class="col logo-bg">
      <img src="/assets/img/logo.png">
    </a>
    <div class="col tp-rght">
      <div class="col">
        <span class="company-name">Company corporation</span>
      </div>
      <div class="tp-inRght col">
        <ul>          
          <li class="user">
            <a href="javascript:void(0)">
              <div class="prfl"><img src="/assets/img/prfl.png">
              </div>
              <span>Watson Davis</span>
            </a>           
          </li>
          <li class="user">
            <a href="javascript:void(0)">
              <i class="fa fa-sign-out"></i>
              <span>Logout</span>
            </a>            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>