/*---------top-section---------*/

.top-section {
    float: left;
    width: 100%;
    position: fixed;
    z-index: 991;
  
    height: 50px;>.row{height: 50px;}
  }
  .logo-bg {
    max-width: 195px;
    padding: 25px 20px 13px;
    border-right: 1px solid #e5e5e5;
    background: #fff;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    align-items: center;
    display: inline-flex;
  }
  .tp-rght {
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    height: 50px;
    background: #3c377a;
    box-shadow: 0.38px 1.96px 6px rgba(35, 31, 32, 0.16);
    color: white;
    .company-name{
        font-size: 20px;
        text-transform: uppercase;
    }
  }
  .tp-rght .col {
    padding: 0;
  }
  .tp-rght span b {
    font-weight: 600;
  }
  
  .tp-inRght ul {
    float: right;
    margin: 0;display: inline-flex;align-items: center;
  }
  .tp-inRght li {
    float: left;
    margin: 0 8px;display: inline-block;
  }
  .tp-inRght li:last-child {
    margin-right: 0;
  }
  .tp-inRght li > a {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background:none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f48939;
  }
  
  .tp-inRght .dropdown-toggle::after {
    display: none;
  }
  .tp-inRght .dropdown > a:hover,
  .tp-inRght .dropdown.show > a {
    background: #ececec;
  }
  .tp-inRght .dropdown.show > a [class*="icon-"]:before {
    color: #007ae8;
  }
  .product .dropdown-menu {
    padding: 15px 25px;
    border-radius: 0 !important;
    min-width: 180px;
  }
  .product .dropdown-item {
    padding: 10px 0px;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .more-link {
    margin: 20px 0 10px;
    color: #007ae8;
    text-align: center;
    display: block;
    padding: 5px;
    font-size: 15px;
  }
  .tp-inRght .icon-tp-icon1 {
    position: relative;
  }
  .tp-inRght .icon-tp-icon1:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ef9008;
    top: -5px;
    right: -4px;
  }
  
  .tp-inRght .user {
    font-weight: 400;
  }
  .tp-inRght .user > a {
    width: auto;
  }
  .tp-inRght .user span {
    font-family: "Rubik", sans-serif;
    margin-left: 10px;
    color: #ffffff;
  }
  .tp-inRght .user > a:hover , .tp-inRght .user > a:hover span {
    color: #f48939;
  }
  .tp-inRght .prfl {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #d2d2d2;
  }
  .tp-inRght .prfl img {
    max-width: 32px;
    max-height: 32px;
  }
  .help-i i {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 3px;
    font-weight: 400;
  }
  .help-i span {
    margin-left: 3px !important;
  }
  .back-to-master {
    padding-left: 15px;
    padding-right: 15px;
    span:first-child{
      font-weight: 300;
    }
    span:last-child {
      font-weight: 500;
      margin-left: 3px;
    }
  }
  /*---------top-section---------*/
  